body {
    font-family: 'Inter', sans-serif !important;
  }
  
  
.hover-shadow {
    transition: box-shadow 0.3s ease-in-out;
  }
  
.hover-shadow:hover {
    box-shadow: 0 0 2px 1px rgb(194, 194, 217);
  }
.maincolor{
    background-color: rgb(67, 94, 190)
}